@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

:root {
    --page-width: 150%;
    --page-width-vw: 150vw;
    --page-width-vh: 150vh;
}

body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#breakout-room {
    height: 100%;
    width: var(--page-width); 
}

@media only screen and (max-width: 480px) {
    #breakout-room {
        height: var(--page-width-vh);
        width: 100%; 
    }

    #breakout-room .icon {
        height: calc(var(--page-width-vh) / 5);
        width: calc(var(--page-width-vh) / 5);
        border: 1px solid black;
    }

    .icon{
        background-color: fuchsia;
    }

    #breakout-room .icon img {

        width: 50%;
        
    }

}



.header{
    position: fixed;
    /* height: 50px; */
    background-color: #001AFE;
    top: 2%;
    left: 2%;
    color: white;
    display: inline-block;
    padding: 10px;

    font-family: "GlyphWorld-Mountain";
}

.header .nav-title {
    margin: 0;
    font-size: 2.3rem;
}

.header:hover {
    color:rgb(167, 167, 167);
    /* background-color: #5E9AE2; */
}

.header .statement {
    transform: translateY(200%);
    transition: 777ms;
}

.statement{
    background-color: #68D569;
    color: black;
    position: fixed;
    z-index: 77;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    
}

.statement h2 {
    font-family: 'GlyphWorld-Mountain';

}

.about {
    margin: 2em;
    display: grid;
    grid-template-columns: 40% 1fr;
    font-family: "Poppins";
    font-size: 1rem;
}

.abt-name {
    font-size: 0.77rem;
    margin: 0;
}

.open {
    transform: translateY(0%) !important;
}

.name{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 50px;
    width: 200px;
    margin-top: -50px;
    margin-left: -150px;
    background-color: white;
    color: #001AFE;
    font-family: "CircularXXWebTrial-MediumTrial";

}

.name-contain {
    display: flex;
    justify-content: center;
}

.icon {

    height: calc(var(--page-width-vw) / 5);
    width: calc(var(--page-width-vw) / 5);
    /* background-color: #68D569;
    background-color: ghostwhite; */
    /* margin: 10px; */
    /* position: relative; */
    border: 1px solid black;
    
    /* display:inline-block; */
}

.icon a {
    display: flex;
    justify-content: center;
}

.hide {
    visibility: hidden;
}


.breakout-contain {
    display: grid;
    grid-template-areas: 
    "c1 c2 c3 c4 c5"
    "c6 c7 c8 c9 c10"
    "c11 c12 c13 c14 c15"
    "c16 center center c17 c18"
    "c19 c20 c21 c22 c23"
    "c24 c25 c26 c27 c28"
    "c29 c30 c31 c32 c33";
    height: 100%;
    width: 100%;
}

.img-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.icon img {

    width: 50%;
    
}

.icon:hover {
    background-color: #68D569;
}

/* styles for center box that has title 'breakout room' */
/* use backslash to escape numbers in CSS */
.center{ 
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: center;
    border: 1px solid black;
    
}
.center:hover{ 
    background-color: ghostwhite;
}

.center img{
    width: 100%;
    /* max-width: 97%; */
    height: auto;
}

/* from CSS icon: https://cssicon.space/#/icon/remove */
.remove.icons {
    color: #000;
    position: absolute;
    margin-left: 3px;
    margin-top: 10px;
    top: 5%;
    right: 10%;
  }
  
  .remove.icons:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 1px;
    background-color: currentColor;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  .remove.icons:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 1px;
    background-color: currentColor;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  
  